@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #3E8E7E;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.text{
    color: #FABB51;
    font-family: 'roboto';
}
.input{
    position:absolute;
    bottom: 20;
    background-color: #0001;
    padding: 1rem;
    border-radius: 10px;
}
.label{
    margin: 1rem;
    color: #7CD1B8;
    font-size: 1.5rem;
}
input{
    height: 34px;
    outline: none;
    width: 100px;
    color: #3E8E7E;
}
